.material-icons,.material-symbols-outlined{
    color: $neutral-3;
    font-size: 24px;
}

.custom-icon{
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

//btn
@mixin hover-effect{
    color: white !important; 
    background-color: $primary-3 !important;
    border: transparent !important;
    outline: 1px solid transparent !important;
}
.custom-btn-all{
    a,button{
        color: white;
        background-color: $primary-2;
        border: 0px;
        &:hover,&:active{
            @include hover-effect;
        }
    }  
    .custom-1{
        background-color: transparent;
        outline: 1px solid white;

    }
    .custom-2{
        background-color: transparent;
        outline: 1px solid $primary-2;
        color: $primary-2;

    }
}
.w-lg-25{
    width: 25%;
}