<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal modal-xl orderModal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content mt-13 mt-lg-2 p-4 p-lg-8 rounded-6 position-relative d-flex justify-content-center align-items-center">
        <div class="modal-header border-0">
            <h2 class="text-center fw-medium" id="exampleModalLabel">訂單資訊</h2>  
          </div>
        <div class="modal-body w-100">
            <h4 class="text-center text-primary-2 p-4">訂單資料</h4>
            <div class="container border border-1 rounded-4 overflow-hidden">
                <div class="row">
                  <div class="col-lg-2 col-md-4 col-4 border border-1 bg-primary-4 py-4 px-2">訂單人姓名</div>
                  <div class="col-lg-4 col-md-8 col-8 border border-1 py-4">王小名（Mike001）</div>
                  <div class="col-lg-2 col-md-4 col-4 border border-1 bg-primary-4 py-4 px-2">訂購日期</div>
                  <div class="col-lg-4 col-md-8 col-8 border border-1 py-4">2024/05/01 23:59:59</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-4 border border-1 bg-primary-4 py-4 px-2">訂單人信箱</div>
                    <div class="col-lg-4 col-md-8 col-8 border border-1 py-4 ">traveltales@gmail.com</div>
                    <div class="col-lg-2 col-md-4 col-4 border border-1 bg-primary-4 py-4 px-2">訂單人電話</div>
                    <div class="col-lg-4 col-md-8 col-8 border border-1 py-4">091234561</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-4 border border-1 bg-primary-4 py-4 px-2">訂單編號</div>
                    <div class="col-lg-4 col-md-8 col-8 border border-1 py-4">travelorder000011</div>
                    <div class="col-lg-2 col-md-4 col-4 border border-1 bg-primary-4 py-4 px-2">付款方式</div>
                    <div class="col-lg-4 col-md-8 col-8 border border-1 py-4">信用卡</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-4 border border-1 bg-primary-4 py-4 px-2">總金額</div>
                    <div class="col-lg-4 col-md-8 col-8 border border-1 py-4">12,000</div>
                    <div class="col-lg-2 col-md-4 col-4 border border-1 bg-primary-4 py-4 px-2">訂單人電話</div>
                    <div class="col-lg-4 col-md-8 col-8 border border-1 py-4">091234561</div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-4 border border-1 bg-primary-4 py-4">備註</div>
                    <div class="col-lg-10 col-md-8 col-8 border border-1 py-4">xxxx</div>
                   
                </div>
                
            </div>

            <h4 class="text-center text-primary-2 p-4">訂單商品明細</h4>
            <div class="container d-none d-lg-block">
                <div class="row align-items-center justify-content-center mx-2">
                  <div class="col-lg-2 col-md-4 text-center">
                    商品照
                  </div>
                  <div class="col-lg-5 col-md-8 text-center">
                    名稱
                  </div>
                  <div class="col-lg-3 col-md-4 text-lg-end text-start">
                     單價/數量
                  </div>
                  <div class="col-lg-2 col-md-8 text-end">
                    小計
                  </div>
                </div>
            </div>
            <div class="container rounded-4 overflow-hidden mb-4">
                <div class="row bg-neutral-8 py-4 overflow-hidden align-items-center justify-content-center">
                  <div class="col-lg-2 col-md-4 col-4 px-0">
                    <div class="modal-img rounded-4 position-relative">
                        <img src="/assets/images/order-list-1.png" alt="">
                        <div class="tag">日本</div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-8 col-8 py-4">
                    <h5 class="mb-2">日本環球影城日本環球影城日本環球影城日本環球影城</h5>
                        <div class="d-flex">
                            <span class="material-symbols-outlined d-none d-md-block">
                            calendar_today</span>
                            <p class="text-neutral-3 fs-sm-8 fs-7">2024/08/08(四)~2024/08/10(六)</p>
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-4 py-4 text-lg-end text-start">
                    <p class="fs-6 fw-medium">$5,000</p>
                    <p class="fs-6 fw-medium">x2</p>
                  </div>
                  <div class="col-lg-2 col-md-8 col-8 text-end">
                    <p class="fs-4 text-primary-1 me-2">$10,000</p>
                  </div>
                </div>
                
            </div>
            <div class="container rounded-4 overflow-hidden mb-4">
                <div class="row bg-neutral-8 py-4 overflow-hidden align-items-center justify-content-center">
                  <div class="col-lg-2 col-md-4 col-4 px-0">
                    <div class="modal-img rounded-4 position-relative">
                        <img src="/assets/images/order-list-2.png" alt="">
                        <div class="tag">台灣</div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-8 col-8 py-4">
                    <h5 class="mb-2">夜宿海生館體驗</h5>
                        <div class="d-flex">
                            <span class="material-symbols-outlined d-none d-md-block">
                            calendar_today</span>
                            <p class="text-neutral-3 fs-sm-8 fs-7">2024/08/08(四)~2024/08/10(六)</p>
                        </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-4 py-4 text-lg-end text-start">
                    <p class="fs-6 fw-medium">$1,300</p>
                    <p class="fs-6 fw-medium">x2</p>
                  </div>
                  <div class="col-lg-2 col-md-8 col-8 text-end">
                    <p class="fs-4 text-primary-1 me-2">$2,600</p>
                  </div>
                </div>
            </div>
            <h4 class="text-center text-primary-2 p-4">訂單記錄</h4>
            <div class="container border border-1 rounded-4 py-4">       
              <div class="row align-items-center justify-content-center mx-2">
                <div class="col-5 text-end">2024-05-01 23:59
                </div>
                <div class="col-2 align-items-center d-flex justify-content-center">
                  <div class="circle text-center"></div>
                </div>
                <div class="col-5 text-start">訂單建立</div>
              </div>
              <div class="row align-items-center d-flex justify-content-center">
                <div class="col-2 align-items-center d-flex justify-content-center">
                  <div class="stopLine"></div>
                </div>
              </div>
              <div class="row align-items-center justify-content-center mx-2">
                <div class="col-5 text-end">2024-05-01 23:59
                </div>
                <div class="col-2 align-items-center d-flex justify-content-center">
                  <div class="circle text-center"></div>
                </div>
                <div class="col-5 text-start">訂單建立</div>
              </div>
          </div>
        </div>
        <div class="button-position position-absolute">
            <button type="button" data-bs-dismiss="modal" class="btn rounded-circle mb-6">
              <span class="material-symbols-outlined text-neutral-7">
                close
              </span>
            </button>
            </button>
          </div>
       
      </div>
    </div>
  </div>