.footer{
    position: relative;
    background-image: url("/assets/images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 600px;
    max-width: 1920px;
    width: 100%;
    @include media-breakpoint-up(lg){
        max-height: 300px;
    }
    a,li{
        color: white;
    }

}

.topbtn{
    position: absolute;
    width: 48px;
    height: 48px;  
    z-index: 10;
    color: white;
    background-color: $primary-2;
    border-radius: 400px;
    right: 5%;
    top: -30%;
    &:hover,&:active{
        background-color: $primary-3;
    }
    @include media-breakpoint-down(lg){
        top: -15%;
    }
    
}