.navbar{
    
    .navbar-toggler:focus {
        outline: none !important; /* 隱藏焦點樣式 */
        box-shadow: none !important; /* 隱藏陰影 */
        border: none !important; /* 隱藏邊框 */
    }
    .navbar-toggler{
        border: 0px;
        &:active,&:hover{
           border: 0px;
        }
    }
    .nav-link{
        &:hover{
            background-color: $neutral-5;
           
        }
    }
    .nav-link-mb{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .offcanvas {
        width: 100%;
        @include media-breakpoint-up(lg){
            width: 40%;
        }
    }
    .offcanvas-header{
        justify-content: space-between;
        
    }
    .offcanvas.offcanvas-end {
        border: 0;
    }
    .bg-light{
        background-color: #ffffff !important;
    }
    .fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 100;
        transition: all 0.3s ease;  
    }
}