form.filter {
    input {
        &::placeholder {
            color: $neutral-4;
        }
    }

    .dropdown {
        width: 100%;

        a {
            color: $neutral-4;
        }

        .dropdown-menu {
            width: 100%;
            border-radius: 24px;
            padding: 16px 0;

            &.show {
                width: 100%;
                transform: translate(0px, 60px) !important;
                @include media-breakpoint-down(lg) {
                    transform: translate(0px, 52px) !important;
                }
            
            }

            .dropdown-item {
                padding: 8px 0;
                color: $neutral-1;
                text-align: center;
                border-bottom: $neutral-5 1px solid;

                &:focus,
                &:hover {
                    color: $primary-3;
                    background-color: #fff;
                }

                &:last-child{
                    border-bottom: 0;
                }
            }

        }

    }

    button {
        box-shadow: 0px 1px 3px 0px #0000004D;
        box-shadow: 0px 4px 8px 3px #00000026;
    }

    .datepicker-picker {
        max-width: 316px;
        width: 100%;
    }

    .datepicker-cell:not(.disabled):hover {
        background-color: #e8e8e8;
    }

    .datepicker-cell.selected,
    .datepicker-cell.selected:hover {
        background-color: #e8e8e8;
        color: $neutral-1;
    }
}

.conditions-tag {
    padding: 8px 12px;
    background-color: $primary-4;
    border-radius: 16px;
    color: $neutral-2;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
        font-size: 14px;
    }

    span {
        font-size: 20px;
        padding-left: 4px;
        cursor: pointer;
    }

}