.singleTrip-banner {
    .material-symbols-outlined {
        vertical-align: sub;
    }

    button.material-symbols-outlined {
        border: none;
        background-color: unset;
        width: 24px;
        height: 24px;
    }

    .span-star {
        color: $secondary-6;
    }

    .span-favorite {
        cursor: pointer;
        color: $neutral-4;

        &:hover {
            color: $neutral-3;
        }

        &:active {
            color: $warning-500;
        }
    }

    .btn-favorite {
        &:checked+label>span {
            color: $warning-500;
        }
    }

    .span-share {
        color: $neutral-4;

        &:hover {
            color: $neutral-3;
        }

        &:active {
            color: $primary-1;
        }
    }

    .span-image {
        width: 20px;
        height: 20px;
        color: $white;
    }

    .more-img {
        max-height: 100%;
        right: 8px;
        bottom: 8px;
        padding: 8px 12px;
        background-color: #6F6F6FCC;
        border-radius: 16px;
        border: 1px solid $white;
    }
}

.picModal {
    .modal-dialog{
        margin-top: 136px;
    }
    .modal-content {
        max-width: 982px;
        /* 防止 Bootstrap 自動設定最大寬度 */

        button {
            backdrop-filter: blur(4px);
            border: 1px solid #F3F3F3;
            background-color: #707070D9;
            width: 56px;
            height: 56px;

            span{
               vertical-align: middle;
            }
        }

        .modal-top-img {
            img {
               max-height: 596px;
            }
        }

        .modal-bottom-img {
            img {
                border-radius: 16px;

                @include media-breakpoint-down(lg) {
                    border-radius: 8px;
                }
            }
        }
    }

}