.singleTrip-banner {
    .material-symbols-outlined {
        vertical-align: sub;
    }

    button.material-symbols-outlined {
        border: none;
        background-color: unset;
        width: 24px;
        height: 24px;
    }

    .span-star {
        color: $secondary-6;
    }

    .span-favorite {
        cursor: pointer;
        color: $neutral-4;

        &:hover {
            color: $neutral-3;
        }

        &:active {
            color: $warning-500;
        }
    }

    .btn-favorite {
        &:checked+label>span {
            color: $warning-500;
        }
    }

    .span-share {
        color: $neutral-4;

        &:hover {
            color: $neutral-3;
        }

        &:active {
            color: $primary-1;
        }
    }

    .span-image {
        width: 20px;
        height: 20px;
        color: $white;
    }

    .more-img {
        // max-height: 100%;
        right: 8px;
        bottom: 8px;
        padding: 4px 8px;
        background-color: #6F6F6FCC;
        border-radius: 16px;
        border: 1px solid $white;

        @include media-breakpoint-up(lg) {
            right: 16px;
            bottom: 16px;
            padding: 4px 12px;
        }

        &:hover {
            background-color: #3D3D3DCC;
        }
    }

    input {
        &::placeholder {
            color: $neutral-4;
        }
    }

    .singleTrip-booking {
        a {
            color: $neutral-4;
        }
    }
}

.scroll-container {
    scroll-behavior: smooth;
}

.scroll-page {
    scroll-margin-top: 120px;
    /* 依據上方導覽列的高度调整，不被蓋住 */
}

.trip {
    box-shadow:
        0px 1px 3px 1px rgba(0, 0, 0, 0.15),
        0px 1px 2px 0px rgba(0, 0, 0, 0.30);

    .tripTitle {
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .trip-subTitle {
        color: black;
        border-bottom: 2px solid transparent;
    }

    .trip-subTitle:hover {
        padding-bottom: 4px;
        color: $primary-2;
        border-bottom: 2px solid $primary-3;
    }
}
.trip-pro-edit {
    width: 40px;
    height: 40px;
    border-radius: 19px;
    background: $neutral-6;

    .trip-edit-text {
        color: $primary-2;
        padding: 8px;
    }

}

.trip-edit-text:hover {
    color: $neutral-6;
}

.trip-pro-edit:hover {
    background: $primary-2;
}

.trip-btn {
    border: transparent;
    border-radius: 16px;
    padding: 8px 20px;
    color: $white;
    background: $primary-2;
}
.fs-14 {
    font-size: 14px;
}
@media (max-width: 374px) {
    .fs-14 {
        font-size: 3.733vw;
        /* 14px / 375 * 100 = 3.733vw */
    }
}
.trip-body {
    z-index: 1;
}
.member-photo {
    width: 40px;
    height: 40px;
}

.pic-md {
    width: 100%;
    max-height: 220px;

    @include media-breakpoint-up(lg) {
        max-height: 420px;
    }
}

.pic-sm {
    width: 100%;
    max-width: 30%;
    max-height: 110px;
    border-radius: 16px;
    object-fit: cover;

}

.comment-body {
    z-index: 1;

    p {
        display: block;
        height: 96px;
    }
}

.comment-photo {
    position: relative;

    .material-symbols-outlined {
        color: white;
    }
}

.comment-photo-postion {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}

.picModal {
    .modal-dialog {
        margin-top: 136px;

        .modal-content {
            max-width: 982px;

            /* 防止 Bootstrap 自動設定最大寬度 */
            .button-position {
                left: 100%;
                top: 0;
                margin-left: 24px;

                @include media-breakpoint-down(lg) {
                    left: 50%;
                    bottom: 100%;
                    top: auto;
                    margin-left: 0;
                    transform: translate(-50%, -50%);
                }
            }

            button {
                backdrop-filter: blur(4px);
                border: 1px solid #F3F3F3;
                background-color: #707070D9;
                width: 56px;
                height: 56px;

                span {
                    vertical-align: middle;
                }
            }

            .showImgPage {
                color: $neutral-7;
                background: #6F6F6FCC;
                border: 1px solid $neutral-7;
                padding: 8px 12px;

                @include media-breakpoint-down(lg) {
                    padding: 5.5px 8px;
                    border-radius: 8px;
                }
            }

            .modal-bottom-img {
                img {
                    border-radius: 16px;

                    @include media-breakpoint-down(lg) {
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}

.commentModal {
    .modal-dialog {
        margin-top: 24.5px;

        @include media-breakpoint-down(lg) {
            margin-top: 96px;
        }

        .modal-content {
            .button-position {
                button {
                    &.next {
                        margin-top: 24px;
                    }
                }

                @include media-breakpoint-down(lg) {
                    left: auto;
                    right: 0;
                    transform: translate(0%, -50%);

                    button.next {
                        margin-top: 0;
                        margin-left: 12px;
                    }
                }
            }
        }
    }

    .modal-todo {
        span {
            color: $neutral-4;
            vertical-align: middle;

            &:hover {
                color: $neutral-3;
            }
        }

        a {
            text-decoration: underline;
        }
    }
}