<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <title>TravelTales - 每段旅程，都是一段故事</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--datepicker日曆套件-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
</head>

<body>
  <%- include('./layout/header'); -%>
  
  <section class="contenter-fluid">
    <div class="banner">
      <img src="../assets/images/banner.png" alt="" width="1920px" height="1024px" class="object-fit-cover">
    </div>
    <div class="container z-3">
     <div class="d-flex flex-column align-items-center justify-content-between px-lg-10 py-lg-13  py-8  position-relative">
      <img src="../assets/images/logo.png" width="147px" height="56px" alt="logo" class="object-fit-cover mb-lg-10 mb-8">
      <h1 class="display-3 fw-semibold text-white mb-lg-10 mb-8">每段旅程，都是一段故事</h1>
      <!--datepicker ejs-->
      <%- include('./layout/datepicker'); -%>
      <a href="#"><span class="material-icons custom-icon text-center " >keyboard_double_arrow_down</span></a>    
     </div>
    </div>
  </section>

  <section class="recommend py-7 py-lg-12">
    <img class="bg-img-2" src="../assets/images/recommend-bg-2.png" alt="">
    <img class="bg-img-3" src="../assets/images/recommend-bg-3.png" alt="">
    <div class="container">
      <h3 class="text-center fs-3 fs-lg-1 pb-8 fw-bold">推薦旅程</h3>
      <div class="recommend-trip W-100 border-0 rounded-5 bg-primary-4 p-sm-4 d-flex flex-column flex-md-row gap-4 gap-lg-2">
        <div class="d-flex flex-column py-sm-3 px-sm-7 align-items-center align-items-lg-start">
          <div class="trip-title text-center text-lg-start">
            <h6 class="text-primary-1">TravelTales</h6>
            <h4 class="fw-bold pb-3">帶您去澎湖</h4>
            <img src="../assets/images/recommend-bg-1.png" alt="">
          </div>
          <div class="swiper swiper-container">
            <div class="swiper-wrapper pb-4">
              <div class="swiper-slide">
                <img src="../assets/images/recommend-1.png" alt="">
                <div class="info bg-neutral-7 p-4">
                  <h5 class="pb-2 fw-medium">澎湖花火節</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="text-neutral-2 fs-6">3天2夜澎湖花火節</p>
                    <div class="cart rounded-circle">
                      <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle">
                        shopping_cart
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide"><img src="../assets/images/recommend-1.png" alt="">
                <div class="info bg-neutral-7 p-4">
                  <h5 class="pb-2 fw-medium">澎湖花火節</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="text-neutral-2 fs-6">3天2夜澎湖花火節</p>
                    <div class="cart rounded-circle">
                      <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle">
                        shopping_cart
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide"><img src="../assets/images/recommend-1.png" alt="">
                <div class="info bg-neutral-7 p-4">
                  <h5 class="pb-2 fw-medium">澎湖花火節</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="text-neutral-2 fs-6">3天2夜澎湖花火節</p>
                    <div class="cart rounded-circle">
                      <span class="material-symbols-outlined position-absolute top-50 start-50 translate-middle">
                        shopping_cart
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination d-flex text-center px-4 px-lg-7 py-4 w-100">
            <div class="swiper-prev material-symbols-outlined">
              arrow_back_ios
            </div>
            <div class="swiper-pagination-custom"></div>
            <div class="swiper-next material-symbols-outlined">
              arrow_forward_ios
            </div>
          </div>
        </div>
        <div class="comment w-100 rounded-4 p-6 d-flex flex-column align-items-end justify-content-between">
          <button class="btn btn-primary-2 rounded-4">點我看更多</button>
          <div class="d-flex flex-column align-items-end w-100">
            <div class="score mb-2">
              <span class="material-symbols-outlined text-secondary-6">
                star
              </span>
              <span class="material-symbols-outlined text-secondary-6">
                star
              </span>
              <span class="material-symbols-outlined text-secondary-6">
                star
              </span>
              <span class="material-symbols-outlined text-secondary-6">
                star
              </span>
              <span class="material-symbols-outlined text-neutral-7">
                star
              </span>
              <p>4.8</p>
            </div>
            <div class="comment-btn text-neutral-7 d-flex gap-2 border rounded-3 border-neutral-7 px-4 py-2 mb-6">
              <span class="material-symbols-outlined">
                sms
              </span>
              <p>2,577</p>
              <p>|</p>
              <p>1K+人 參加過</p>
            </div>
            <swiper-container class="comment-swiper" slides-per-view="auto" space-between="16" loop="true">
              <swiper-slide>
                <div class="comment-tag">
                  <img src="../assets/images/person-1.png" class="rounded-circle object-fit-cover" alt="person-1">
                  <p>這個行程太優惠了，行程又多</p>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="comment-tag">
                  <img src="../assets/images/person-2.png" class="rounded-circle object-fit-cover" alt="person-2">
                  <p>下次還會再來玩</p>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="comment-tag">
                  <img src="../assets/images/person-3.png" class="rounded-circle object-fit-cover" alt="person-3">
                  <p>還能加購更多</p>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="comment-tag">
                  <img src="../assets/images/person-1.png" class="rounded-circle object-fit-cover" alt="person-1">
                  <p>這個行程太優惠了，行程又多</p>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="reason py-8 py-lg-12">
    <h2 class="text-center fs-3 fs-lg-1 fw-bold pb-8 text-neutral-2">選擇我們的理由</h3>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-6 mb-lg-0">
            <img class="img-fluid d-block mx-auto mb-4 mb-lg-6 img" src="../assets/images/reason-1.png"
              alt="Illustration of reason 1">
            <h3 class="text-center text-primary-2 fs-5 fs-lg-4 fw-medium fw-lg-bold mb-4">創意無限的遊程選擇</h3>
            <p class="text-center px-lg-4">TravelTales提供遊程選擇，滿足旅行偏好和興趣，讓每一次旅行都充滿驚喜。</p>
          </div>
          <div class="col-lg-4 mb-6 mb-lg-0">
            <img class="img-fluid d-block mx-auto mb-4 mb-lg-6 img" src="../assets/images/reason-2.png"
              alt="Illustration of reason 2">
            <h3 class="text-center text-primary-2 fs-5 fs-lg-4 fw-medium fw-lg-bold mb-4">個性化推薦與定制</h3>
            <p class="text-center px-lg-4">TravelTales利用先進的算法和用戶數據，提供個性化的行程推薦和定制服務。</p>
          </div>
          <div class="col-lg-4 mb-6 mb-lg-0">
            <img class="img-fluid d-block mx-auto mb-4 mb-lg-6 img" src="../assets/images/reason-3.png"
              alt="Illustration of reason 3">
            <h3 class="text-center text-primary-2 fs-5 fs-lg-4 fw-medium fw-lg-bold mb-4">旅行故事的創造與分享</h3>
            <p class="text-center px-lg-4">平台不僅僅是預訂工具，更是一個分享旅行故事的社區。</p>
          </div>
        </div>
      </div>
  </section>

  <section class="rank py-8 py-lg-12 bg-primary-4">
    <h2 class="text-center fs-3 fs-lg-1 fw-bold pb-8 text-neutral-2">排行榜</h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="p-4 p-lg-6 bg-white rounded-5 border-shadow mb-6 mb-lg-0">
            <h3 class="text-center text-primary-2 fs-5 fs-lg-3 fw-medium fw-lg-bold mb-4">當季活動</h3>
            <ol class="m-0 p-0">
              <li class="border-bottom border-neutral-5">
                <div class="d-flex align-items-center py-4 rank-item">
                  <div class="text-primary-2 fw-medium mx-2 mx-lg-4">1</div>
                  <div class="me-2 me-lg-4">
                    <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank1-1.png"
                      alt="travel photos">
                  </div>
                  <div class="text-truncate w-100">
                    <p class="fw-medium mb-2 text-truncate">新北｜許家麵線｜親子體驗：流水麵線</p>
                    <div>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span
                          class="material-icons span-star me-2">star</span>4.3</p>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span
                          class="material-icons span-textsms me-2">textsms</span>560+</p>
                    </div>
                  </div>
                  <div class="mx-2 mx-lg-4">
                    <a href="#"><span class="material-icons span-arrow-right">arrow_forward_ios</span></a>
                  </div>
                </div>
              </li>
              <li class="border-bottom border-neutral-5">
                <div class="d-flex align-items-center py-4 rank-item">
                  <div class="text-primary-2 fw-medium mx-2 mx-lg-4">2</div>
                  <div class="me-2 me-lg-4">
                    <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank1-2.png"
                      alt="travel photos">
                  </div>
                  <div class="text-truncate w-100">
                    <p class="fw-medium mb-2 text-truncate">南投｜玉山2天1夜前峰團 · 2天2夜</p>
                    <div>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span
                          class="material-icons span-star me-2">star</span>4.6</p>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span
                          class="material-icons span-textsms me-2">textsms</span>400+
                      </p>
                    </div>
                  </div>
                  <div class="mx-2 mx-lg-4">
                    <span class="material-icons span-arrow-right">arrow_forward_ios</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center py-4 rank-item">
                  <div class="text-primary-2 fw-medium mx-2 mx-lg-4">3</div>
                  <div class="me-2 me-lg-4">
                    <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank1-3.png"
                      alt="travel photos">
                  </div>
                  <div class="text-truncate w-100">
                    <p class="fw-medium mb-2 text-truncate">SNOWTOWN 雪樂地門票</p>
                    <div>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span
                          class="material-icons span-star me-2">star</span>4.5</p>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span
                          class="material-icons span-textsms me-2">textsms</span>350+
                      </p>
                    </div>
                  </div>
                  <div class="mx-2 mx-lg-4">
                    <span class="material-icons span-arrow-right">arrow_forward_ios</span>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="p-4 p-lg-6 bg-white rounded-5 border-shadow mb-6 mb-lg-0">
            <h3 class="text-center text-primary-2 fs-5 fs-lg-3 fw-medium fw-lg-bold mb-4">熱門評論</h3>
            <ol class="m-0 p-0">
              <li class="border-bottom border-neutral-5">
                <div class="d-flex align-items-center py-4 rank-item">
                  <div class="text-primary-2 fw-medium mx-2 mx-lg-4">1</div>
                  <div class="me-2 me-lg-4">
                    <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank2-1.png"
                      alt="travel photos">
                  </div>
                  <div class="text-truncate w-100">
                    <p class="fw-medium mb-2 text-truncate">新北八里左岸｜SUP立槳｜沙洲蛤水麵</p>
                    <div>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span
                          class="material-icons span-star me-2">star</span>4.8</p>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span
                          class="material-icons span-textsms me-2">textsms</span>670+</p>
                    </div>
                  </div>
                  <div class="mx-2 mx-lg-4">
                    <a href="#"><span class="material-icons span-arrow-right">arrow_forward_ios</span></a>
                  </div>
                </div>
              </li>
              <li class="border-bottom border-neutral-5">
                <div class="d-flex align-items-center py-4 rank-item">
                  <div class="text-primary-2 fw-medium mx-2 mx-lg-4">2</div>
                  <div class="me-2 me-lg-4">
                    <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank2-2.png"
                      alt="travel photos">
                  </div>
                  <div class="text-truncate w-100">
                    <p class="fw-medium mb-2 text-truncate">台中國立自然科學博物館門票</p>
                    <div>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span
                          class="material-icons span-star me-2">star</span>4.6</p>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span
                          class="material-icons span-textsms me-2">textsms</span>420+
                      </p>
                    </div>
                  </div>
                  <div class="mx-2 mx-lg-4">
                    <span class="material-icons span-arrow-right">arrow_forward_ios</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center py-4 rank-item">
                  <div class="text-primary-2 fw-medium mx-2 mx-lg-4">3</div>
                  <div class="me-2 me-lg-4">
                    <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank2-3.png"
                      alt="travel photos">
                  </div>
                  <div class="text-truncate w-100">
                    <p class="fw-medium mb-2 text-truncate">台中｜經典行程&高美濕地一日遊</p>
                    <div>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span
                          class="material-icons span-star me-2">star</span>4.5</p>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span
                          class="material-icons span-textsms me-2">textsms</span>350+
                      </p>
                    </div>
                  </div>
                  <div class="mx-2 mx-lg-4">
                    <span class="material-icons span-arrow-right">arrow_forward_ios</span>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="p-4 p-lg-6 bg-white rounded-5 border-shadow mb-6 mb-lg-0">
            <h3 class="text-center text-primary-2 fs-5 fs-lg-3 fw-medium fw-lg-bold mb-4">優惠景點</h3>
            <ol class="m-0 p-0">
              <li class="border-bottom border-neutral-5">
                <div class="d-flex align-items-center py-4 rank-item">
                  <div class="text-primary-2 fw-medium mx-2 mx-lg-4">1</div>
                  <div class="me-2 me-lg-4">
                    <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank3-1.png"
                      alt="travel photos">
                  </div>
                  <div class="text-truncate w-100">
                    <p class="fw-medium mb-2 text-truncate">宜蘭張美阿嬤農場</p>
                    <div>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span
                          class="material-icons span-star me-2">star</span>4.9</p>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span
                          class="material-icons span-textsms me-2">textsms</span>560+</p>
                    </div>
                  </div>
                  <div class="mx-2 mx-lg-4">
                    <a href="#"><span class="material-icons span-arrow-right">arrow_forward_ios</span></a>
                  </div>
                </div>
              </li>
              <li class="border-bottom border-neutral-5">
                <div class="d-flex align-items-center py-4 rank-item">
                  <div class="text-primary-2 fw-medium mx-2 mx-lg-4">2</div>
                  <div class="me-2 me-lg-4">
                    <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank3-2.png"
                      alt="travel photos">
                  </div>
                  <div class="text-truncate w-100">
                    <p class="fw-medium mb-2 text-truncate">花蓮賞鯨｜多羅滿海洋賞鯨導覽體</p>
                    <div>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span
                          class="material-icons span-star me-2">star</span>4.5</p>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span
                          class="material-icons span-textsms me-2">textsms</span>400+
                      </p>
                    </div>
                  </div>
                  <div class="mx-2 mx-lg-4">
                    <span class="material-icons span-arrow-right">arrow_forward_ios</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center py-4 rank-item">
                  <div class="text-primary-2 fw-medium mx-2 mx-lg-4">3</div>
                  <div class="me-2 me-lg-4">
                    <img class="rank-img object-fit-cover rounded-4" src="../assets/images/rank3-3.png"
                      alt="travel photos">
                  </div>
                  <div class="text-truncate w-100">
                    <p class="fw-medium mb-2 text-truncate">南投｜日月潭之美·海陸空體驗一日遊</p>
                    <div>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0 me-3"><span
                          class="material-icons span-star me-2">star</span>4.5</p>
                      <p class="d-inline-block d-lg-block d-xl-inline-block fs-7 mb-0"><span
                          class="material-icons span-textsms me-2">textsms</span>500+
                      </p>
                    </div>
                  </div>
                  <div class="mx-2 mx-lg-4">
                    <span class="material-icons span-arrow-right">arrow_forward_ios</span>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>



  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  <script>
    const swiper = new Swiper('.swiper-container', {
      loop: true,
      spaceBetween: 12,
      pagination: {
        el: '.swiper-pagination-custom',
        bulletClass: 'swiper-pagination-bullet', // 自定義分頁指示器的class名
        bulletActiveClass: 'swiper-pagination-bullet-active', // 自定義活動分頁指示器的class名
      },
      navigation: {
        nextEl: '.swiper-next',
        prevEl: '.swiper-prev',
      },
    });
  </script>
</body>

</html>